[user]
	name = Greg Terrono
	email = terronogr@gmail.com
[core]
	excludesfile = /Users/greg/.gitignore_global
	editor = vim
	autocrlf = input
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  co = checkout
  cm = commit
  sync = !git fetch && git rebase origin/master
[color]
  ui = auto
[push]
	default = tracking
[init]
	defaultBranch = main
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
