[user]
	name = Greg Terrono
	email = terronogr@gmail.com
[core]
	excludesfile = /Users/greg/.gitignore_global
	editor = vim
	autocrlf = input
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  co = checkout
  cm = commit
  sync = !git fetch && git rebase origin/master
[color]
  ui = auto
[push]
	default = tracking
